body { 
  font-family: Arial, sans-serif;
    text-align: center; 
}

header { 
  background: rgb(255, 102, 0);
  color: white; 
  padding: 1rem;  
}
.products { 
  display: flex;
  gap: 20px; 
  padding: 20px; 
}

.product-card { 
  border: 1px solid #ddd;
  padding: 15px; 
  border-radius: 8px; 
  text-align: center;
  margin-trim: inherit;

}

button { 
  background-color: rgb(255, 102, 0);
  color: white; border: none;
  padding: 10px; cursor: pointer;
}

button:hover {
  background-color: red;
}