.Header {
height: 76px;
color: white;
background: #CE7EC6;
margin-top: 0px;
margin-bottom: 10px;
text-align: center;
align-items: center;
justify-content: center;
  color: #ffff;
font-family: "Merriweather Sans";
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal; 
  display: flex;
  align-items: center;
}

.Gallery {
color: #ffff;  
align-items: center;
justify-content: center;
text-align: center;
text-align: center;
font-family: Jomolhari;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0px;
background: #3395C6;
display: flex;
  align-items: center;
}
.GalleryBox {
height: 571px;
 background: #7EC9CE;
}

body {
 background: white;
}